<div class="d-flex justify-content-center align-items-center text-center">
  <div>
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3">That's an error.</p>
    <p class="lead">
      This is not the page you're looking for...
    </p>
    <a href="/" class="btn btn-primary mt-3">Go Home</a>
  </div>
</div>
