<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Backlog Tracker</title>

{{!-- le bootstrap --}}
    <script defer src="/static/js/bootstrap.bundle.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

{{!-- jquery --}}
    <script src="/static/js/jquery-3.7.1.min.js"></script>
</head>

<body class="bg-white">

    {{!-- nav --}}
    {{> nav }}

    <!-- body content -->
    <div class="container my-4">
        {{{ body }}}
    </div>

</body>
</html>